@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');


body {
  background: #00040C;
}

header {
  background: #00040C;
  padding: 20px;
  transition: 0.5s;
}
.header {
  clip-path: polygon(54% 0, 100% 0, 100% 65%, 51% 77%, 0 65%, 0 0);
}

header a {
  display: block;
  font-size: 2em;
  font-weight: bold;
  color: #00040C;
  margin: 0;
  text-decoration: none;
}
header.js-is-sticky {
  background: rgba(0, 0, 0, 0.5);
}
.wrapper {
  display: flex;
}
.wrapper section p{
  color: #4D4D61;
}
.wrapper section h1{
  color: #fff;
    font-size: 30px;
    
}
.head-logo {
    position: absolute;
    top: 15px;
    z-index: 9999;
    width: 80%;
    justify-content: space-between;
}
video#video1 {
    max-width: 100%;
}
video#video1 {
    transform: scale(1.8);
    position: relative;
    left: 40%;
    margin-top: 50%;
}
body{
    overflow-x: hidden !important;
}
.btn-outline-dark{
    border-radius: 0;
    background: transparent !important;
    color: black !important;
    position: relative;
    overflow: hidden;
}
.btn:hover .overlay{
    transform: translateY(0)
}
.btn .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 20;
    transition: 0.4s;
    transform: translateY(110%)
}
.btn .fa-twitter{
    position: relative;
    z-index: 20;
    color: black !important;
}
/*
.head-logo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
*/
.container section {
  width: 80%;
  padding: 0 35px;
  margin: 15px 0;
}
.container aside {
  width: 30%;
  margin: 35px 0;
}
.container aside .signup {
  padding: 5px 0;
}
.head-logo .logo{
    display: flex;
   
}
.head-logo .logo img{
   width: 85px;
    height: 85px;
   
}

.head-logo .logo p{
    font-size: 35px;
    padding-top: 15px;
    font-weight: bold;
       font-family: 'Space Grotesk', sans-serif;
    color: #000;
}

.header-image {
    width: 100%;
    height: 650px;
    
   
    background-image: url(side-pic.jpeg);
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
}

/*roadmap start*/

.wrapper section .roadmap-head h1{
    margin-top: 150px;
  color: #fff;
    font-size: 40px;
    text-align: center;
    margin-bottom: 35px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
}
 .roadmap-head p{
  color: #4D4D61;
    font-size: 22px;
    text-align: center;
    margin-bottom: 35px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
}
.roadmap-section{
    
    background-color: #04091A;
    text-align: left;
    padding: 60px;
    margin-bottom: 50px;
}

.roadmap-part  span{
    color:#D02560;
    font-size: 25px;
   
}
.roadmap-section  p{
    color:#D02560;
    font-size: 21px;
    font-family: 'Space Grotesk', sans-serif;
    
}



/*roadmap end*/
/*header start*/
.header{
    z-index: -99;
}
.head-logo{
    display: flex;
}



/*header end*/


/*driver start*/
.drivers{
    
    background-color: #01030D;
    margin-top: -35px;
    
}
.drivers h1{
    color: #EF5C90;
    
}
.drivers h1 span{
    color: #fff;
    
}
.driver-text {
    margin-top: 50px;
}

.driver-text p{
    margin-top: 40px;
    color:#A1A2B6;
    font-weight: 500;
    font-size: 20px;
}
.driver-video{
    
}

/*driver end*/

/*who we are start*/



/*creative-teams*/



.creative-teams{
    background-color: #01030D;
    margin-bottom: 100px;
}
.creative-teams .creative{
    padding-top: 100px;
}
.creative-teams .creative-heading h1{
    color: #848198;
    text-align: right;
    font-size: 30px;
    margin-top: -35px;
}
.creative-teams .creative-heading{
    
}
.creative-teams .creative-heading{
    font-size: 80px;
    color: #8F7251;
}

.creative-teams .creative-heading h1 span{
    color: #EF5B8F;
    text-transform: capitalize;
    font-size: 50px;
}
.creative-teams .creative-text p{
    margin-top: 50px;
    color:#848198;
    font-size: 19px;
    line-height: 2;
    font-family: 'Space Grotesk', sans-serif;
    margin-left: 38px;
    
}

/*mattey-part*/

.mattey-part{
    background-color: #01030D;
    position: relative;
    
}
.mattey-part .mattey{
    padding-top: 0px;
    margin-bottom: 100px;
}

.mattey-part .mattey .mattey-head {
    display: flex;
}
.mattey-part .mattey .mattey-head h1{
    color: #fff;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
}
.mattey-part .mattey .mattey-head i{
    color: #fff;
    margin-right: 0px;
    font-size: 25px;
    margin-left: 10px
    
}

.mattey-part .mattey .mattey-head .mattey-icon{
    
    margin-left: auto;
}
.mattey-part .mattey .mattey-head .mattey-icon .m-twit{
    border: solid 1px #4753D6;
    padding: 10px;
    background-color:#4753D6;
}

.mattey-part .mattey .mattey-head .mattey-icon .m-twit:hover{
    background-color: #6c77ea;
}

.mattey-part .mattey .mattey-head .mattey-icon .m-insta{
    border: solid 1px #4753D6;
    padding: 10px;
    background-color:#4753D6;
}

.mattey-part .mattey .mattey-head .mattey-icon .m-insta:hover{
    background-color: #6c77ea;
}

.mattey-part .mattey-image{
    margin-top: 20px;
}
.divider{
    width: 1px;
    height: 350px;
    background-color: #fff;
    display: inline-block;
    position: absolute;
    top: 20%;
    
    margin-left: 40px;
}
.NFTS{
    font-size: 20px;
}
.nfts-image{
    margin-top: 40px;
}

.dash{
    width: 25px;
    height: 2px;
    background-color: #4753D6;
    margin-left: auto;
    margin-bottom: 30px;
}
.dash1{
    width: 25px;
    height: 2px;
    background-color: #4753D6;
    margin-left: 20px;
    margin-bottom: 30px;
}
.matteyImage{
    display: flex;
    
}
.matteyImage .nfts-image{
    margin-right: 15px;
    margin-top: 0px;
}





















/*who we are end*/



/*our community start*/

.community{
    background-image: url(last-banner.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}
.community-text{
    margin-top: 100px;
    margin-bottom: 100px;
}
.community-text h1{
    color: #000;
    font-size: 45px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
    margin-bottom: 15px;
}
.community-text p{
    font-size: 18px;
    font-family: 'Space Grotesk', sans-serif;
    
}
.community-text .button{
    border: solid 1px ;
    background-color: #2A3284;
    color: #fff;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Space Grotesk', sans-serif;
}
.community-text .button:hover{
    background-color: #6C77EA;
}

/*our community end*/



/*footer css*/
.footer{
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer-meka .footer-logo{
    display: flex;
}
.footer-meka .footer-logo i{
    color: #E95287;
    font-size: 25px;
}
.footer-meka .footer-logo h2{
    color: #fff;
    font-family: 'Space Grotesk', sans-serif;
    margin-left: 18px;
    
}
.footer-meka p{
    font-size: 18px;
    color: #fff;
    font-family: 'Space Grotesk', sans-serif;
    margin-bottom: 65px;
    
    
}
.footer-meka h6{
    color: #4B4A5C;
    font-family: 'Space Grotesk', sans-serif;
}
.footer-icon{
    display: flex;
    text-decoration: none;
    
}



.footer-menu .menu{
    text-decoration: none;
    color: #fff;
    text-align: right;
    
    
}
.footer-menu .menu .logo{
    border: 1px solid #fff;
    padding: 10px;
    margin-left: 15px;
    color: #fff;
}

.footer-icon button{
    margin-right: 20px;
    
    
}
.footer-icon{
    
    
}
.footer-twit {
    background-color: #01030D;
    position: relative;
    font-size: 25px;
    overflow: hidden;
    border: solid 1px #fff;
    
    
}
.footer-twit i{
    color: #fff;
    
}
.footer-twit:hover .overlay{
    transform: translateY(0);
    
}
.footer-twit .overlay{
    background-color: #4753D6;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    transition: .5s;
    transform: translateY(110%);
    
}



/*our-community*/
.our-community p{
    margin-top: 50px;
    font-size: 25px;
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
}
.community-gallay {
    display: flex;
    justify-content: center;
}
.community-gallay p{
    border: 1px solid  #fff;
    margin-right: 15px;
    padding: 65px;
    color: #fff;
    
}




/*our-community*/
.payment .whitelist .who-whitelist{
    
    margin-top: 100px;
}






/*who-we-are*/
.whoweare{
    background-color: #FFFFFF;
}
.who-we-are .team-behind{
    padding-top: 40px;
    color: #000;
}
.who-we-are .team-behind .head{
    text-align: right;
}
.who-we-are .team-behind .head h1{
    font-size: 35px;
}
.who-we-are .team-behind .head p{
    font-size: 15px;
    
}


.who-we-are .team-behind .head .founder{
    display: flex;
    
    
}
.who-we-are .team-behind .head .founder p{
    padding: 70px 35px 75px 40px;
    border: 1px solid #fff;
    margin-left: 85px;
}


.founder .wrapper .img-area{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.founder .wrapper .img-area .single-img{
    padding: 0 20px 20px;
    
}
.our-partner {
    position: relative;
    top: 20%;
    
}

/*who-we-are*/

/*Horizon start*/



.horizon .horizon-head p{
    font-size: 25px;
    color: #fff;
    font-family: 'Space Grotesk', sans-serif;
}

.horizon  .horizon-example{
    background-color: #A4C2F4;
    padding: 35px 0 35px 0;
    font-family: 'Space Grotesk', sans-serif;
}
.whitelist{
    display: flex;
    padding-top: 35px;
    padding-bottom: 100px;
}
.whitelist .who-whitelist p{
   color: #fff;
    font-size: 25px;
}
.whitelist .benefits{
    color: #fff;
    font-size: 15px;
}
.whitelist .benefits i{
    margin-bottom: 10px;
}
.whitelist .benefits a{
    margin-left: 18px;
}

/*Horizon end*/





